@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@font-face {
    font-family: 'icons';
    src: url('icons.ttf') format('truetype');
}

.icon {
    font-family: 'icons' !important;
    line-height: 1.5;
    vertical-align: middle
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--cl1);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ai-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.d-block {
    display: block;
}

.c {
    width: 1300px;
    margin: 0 auto;
}

.pos-r {
    position: relative;
}

.login {
    background-color: var(--cl3);
    margin: auto;
    width: 30%;
    padding: 40px;
    border-radius: 15px;
}

form input:focus {
    outline: none;
    color: var(--cl2);
    font-size: 15px;
}

form input {
    border: none;
    margin-bottom: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #444951;
    color: var(--cl2);
}

form input[type=submit] {
    border: none;
    margin-bottom: 20px;
}

form input::placeholder {
    color: var(--cl2);
}

form label {
    margin-bottom: 10px;
}

form {
    display: grid;
}

.btn {
    background-color: var(--cl4);
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
}

.btn:hover {
    color: var(--cl4);
    background-color: #fff;
}


/* dashboard */

.logo {
    height: 50px;
    width: 50px;
    border-radius: 20%;
    background-color: var(--cl4);
}

.logo h1 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--cl3);
    height: 70px;
}

header img {
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius: 50%;
}

aside .top {
    padding: 20px;
    background-color: var(--cl1);
}

aside .top p {
    color: var(--cl2);
    font-weight: 700;
    margin-left: 10px;
}

aside {
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: var(--cl3);
    width: 15%;
}

aside ul {
    padding-top: 50px;
    list-style: none;
    padding: 20px;
}

aside ul li {
    align-items: center;
    justify-content: start;
    display: flex;
    padding: 10px;
    border-radius: 8px;
}

aside ul li .link {
    color: var(--cl2);
}

aside ul li .link:hover {
    color: #fff;
}

aside ul li:hover {
    background-color: var(--cl4);
}

aside ul li .icon {
    margin-right: 5px;
}

.link {
    text-decoration: none;
}